<div class="container">
  <h2>Thanks, you paid <strong>€ <%= @booking.terrace.price %></strong>!</h2>
  <div class="container pt-3">
  <h2 class=""><strong>Your booking is confirmed! </strong></h2>
  <h5 class="pt-2"><strong>Rooftop selected: </strong></h5>
  <div class="booking-card d-flex justify-content-start">
    <%= cl_image_tag( @booking.terrace.photos.first.key )%>
    <div class="p-3">
      <h5 class="card-title"><%= link_to @booking.terrace.title, terrace_path(@booking.terrace), class:"link-color" %></h5>
      <p><%= @booking.status %></p>
      <% if @terrace.reviews.count == 0 %>
        <p>Not rated yet</p>
      <% else %>
        <p class="my-1"><% @terrace.rating.times do %><i class="fas fa-star text-primary"></i><% end %></p>
      <% end %>
      <p class="card-text">Date: <%= @booking.date.strftime("%d %b, %Y") %></p>
    </div>
  </div>
</div>
</div>