<div class="container">
  <%= link_to "< Go back to results" , terraces_path, class:"mt-3" %>
  <h2 class="pt-4 mb-3"><%= @terrace.title %></h2>
  <p><%= @terrace.address %></p>
  <div class="mosaic">
    <img src="<%= cl_image_path(@terrace.photos.first.key) %>" alt="First image" class="tile">
    <% if @terrace.photos[1] %>
      <img src="<%= cl_image_path(@terrace.photos.second.key) %>" alt="Second image" class="tile">
    <% end %>
    <% if @terrace.photos[2] %>
      <img src="<%= cl_image_path(@terrace.photos[2].key) %>" alt="Third image" class="tile">
    <% end %>
    <% if @terrace.photos[3] %>
      <img src="<%= cl_image_path(@terrace.photos[3].key) %>" alt="Fourth image" class="tile">
    <% end %>
    <% if @terrace.photos[4] %>
      <img src="<%= cl_image_path(@terrace.photos[4].key) %>" alt="Fifth image" class="tile">
    <% end %>
  </div>
  <div class="terrace-responsive d-flex pt-3">
    <div class="container terrace-description pl-0">
      <p><%= @terrace.description %></p>
      <p><i class="fas fa-ruler"></i>  <%= @terrace.size %>m²</p>
      <p><i class="far fa-building"></i> <%= @terrace.floor %></p>
      <p>€ <%= @terrace.price %></p>
    </div>
    <div class="container booking-form">
      <%= render "form" %>
    </div>
  </div>
  <div id="reviews" class="d-flex justify-content-between mt-2">
    <div class="reviews-list col-lg-6 col-sm-6 pl-0">
    <h3>Reviews</h3>
    <% if @terrace.reviews.blank? %>
      Be the first to leave a review
    <% else %>
      <%= pluralize @terrace.reviews.size, "review" %>
      <% @terrace.reviews.each do |review| %>
        <div class="card bg-light text-dark mb-2 mt-3 pl-2 py-2 w-75 rounded">
          <p class="mb-1"><strong><%= review.content %></strong></p>
          <div class="d-flex justify-content-between align-items-end">
            <div>
              <p class="mb-1 rounded">
                <% review.rating.times do %>
                  <i class="fas fa-star text-primary"></i>
                <% end %>
              </p>
            </div>
            <div>
              <p class="mr-2 mb-0">- <%= review.user.email %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= simple_form_for [ @terrace, @review ], remote: true do |f| %>
      <%= f.input :content, as: :text %>
      <%= f.input :rating, collection: 1..5 %>
      <%= f.button :submit, class:"btn btn-flat mb-3" %>
    <% end %>
     <%= link_to "Update terrace details", edit_terrace_path(@terrace.id) %>
      <p><%= link_to "Delete terrace", terrace_path(@terrace.id), method: :delete, data: { confirm: "Are you sure?" } %></p>
    </div>
      <div id="map" class="show-map pr-3 mt-3 col-lg-6 col-sm-6"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>