<!DOCTYPE html>
<html>
  <head>
    <title>Rent A Terrace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="icon" href="https://res.cloudinary.com/dsyy5vnbo/image/upload/v1608989887/sunset_1f307_qp29mf.png" sizes="32x32" type="image/jpg">
    <meta property="og:title" content="Rent a Terrace" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://terracerentals.herokuapp.com/" />
    <meta property="og:description" content="Find a rooftop to host your next party!">
    <meta name="description" content="Level up your party game! Rent from our range of large terraces with splendid views to host your next event.">
    <meta property="og:image" content="https://res.cloudinary.com/dsyy5vnbo/image/upload/v1608831771/hac2o66nbufoazagnepvmyrd2es0.jpg" />
  </head>

  <body style="background-color:white;">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
